.search-container {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem auto;
  max-width: 1200px;
  gap: 1rem;
}

.search-input {
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.search-or-text {
  font-size: 1rem;
} 