<!-- Barra de navegación -->
<nav class="main-navbar navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <!-- Contenedor izquierdo para la flecha y el logo -->
    <div class="d-flex align-items-center">
      <!-- Botón de retroceso -->
      <button *ngIf="showBackButton" class="back-button" (click)="goBack()">
        <i class="bi bi-arrow-left-circle"></i>
      </button>

      <!-- Logo (con posición fija) -->
      <a class="navbar-brand" routerLink="/">
        <img src="assets/images/OpenScienceChain_logo_horiz_white.png" alt="osc-logo">
      </a>
    </div>

    <!-- Navegación dinámica basada en el estado de autenticación -->
    <div class="d-flex nav-links" *ngIf="!isAuthRoute()">
      <!-- Contribute - comportamiento condicional basado en autenticación -->
      <a class="nav-link contribute-link"
         [routerLink]="isAuthenticated ? '/contribute' : '/auth/sign-in'">
        Contribute
      </a>

      <!-- Condicional basado en autenticación -->
      <a *ngIf="!isAuthenticated" class="nav-link signin-link" routerLink="/auth/sign-in">Sign in</a>
      <a *ngIf="isAuthenticated" class="nav-link signout-link" (click)="logout()">Sign out</a>
    </div>
  </div>
</nav>

<!-- Contenido principal de la página de inicio -->
<!-- Solo mostrar cuando estamos en la ruta principal y no hay otra ruta cargada -->
<div class="container mt-4" *ngIf="router.url === '/' && !isAuthRoute()">
  <app-artifacts-preview></app-artifacts-preview>
  <app-workflows-preview></app-workflows-preview>
</div>

<!-- Router outlet para las rutas cargadas dinámicamente -->
<router-outlet></router-outlet>
