.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 250px;
  min-height: 100vh;
  background-color: #fff;
}

.sign-in-form-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.logo-container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1D3557;
  border-radius: 15px;
  padding: 20px;
}

.logo {
  width: 50%;
  height: auto;
}

.logo img {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.sign-in-form .form-group {
  margin-bottom: 15px;
  position: relative;
}

.form-control {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  transition: border-color 0.2s;
}

.form-control:focus {
  border-color: #1D3557;
  outline: none;
}

.forgot-password {
  text-align: right;
  margin-bottom: 8px;
  margin-top: -5px;
  font-size: 14px;
}

.forgot-password a {
  color: #888;
  font-size: 14px;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.form-actions {
  margin-top: 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #1D3557;
  color: white;
}

.btn-primary:hover {
  background-color: #152538;
}
