<div class="sign-in-container">
  <div class="sign-in-form-container">
    <div class="logo-container">
      <img src="assets/images/OpenScienceChain_logo_horiz_white.png" alt="Open Science Chain Logo" class="logo">
    </div>

    <form [formGroup]="signInForm" class="sign-in-form">
      <div class="form-group">
        <input
          type="text"
          id="username"
          formControlName="username"
          class="form-control"
          placeholder="username or email"
          required>
        <div *ngIf="signInForm.get('username')?.invalid && signInForm.get('username')?.touched" class="error-message">
          Username is required
        </div>
      </div>

      <div class="forgot-password">
        <a href="#" (click)="onForgotCredentials($event)">Forgot password or username?</a>
      </div>

      <div class="form-group">
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="password"
          required>
        <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched" class="error-message">
          Password is required
        </div>
      </div>

      <div class="form-actions">
        <button type="button" class="btn btn-primary" [disabled]="signInForm.invalid" (click)="onSubmit()">Sign In</button>
      </div>
    </form>

    <!-- Mensaje de recuperación de credenciales -->
    <div *ngIf="showForgotMessage" class="forgot-message">
      If you forgot your password or username, please send an email to block&#64;manager.com
    </div>
  </div>
</div>
